<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="Syncfusion.SfChart.Universal451" version="14.1.0.41" targetFramework="wpa81" />
</packages>